@model Search_Invoice.Models.PassModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section class="content-header">
        <h1>Danh mục người sử dụng người sử dụng</h1>
    </section>*@
<section class="content" style="padding-left:0px !important;padding-right:0px !important">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Đổi mật khẩu của người sử dụng @ViewBag.TenTruyCap</h3>
                <span class="label label-primary pull-right"><i class="fa fa-html5"></i></span>
            </div><!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @*@Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.TenTruyCap)
                    @Html.HiddenFor(model => model.TenNguoiDung)
                    @Html.HiddenFor(model => model.MaQuyen)*@



                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="txtMatKhau"> Mật khẩu Cũ</label>
                        <div class="col-sm-6">
                            @Html.PasswordFor(model => model.password, new { @class = "form-control", id = "txtMatKhau" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="txtMatKhau1"> Mật khẩu mới </label>
                        <div class="col-sm-6">
                            @Html.PasswordFor(model => model.newpassword, new { @class = "form-control", id = "txtMatKhau1" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="txtMatKhau2"> Nhập lại mật khẩu </label>
                        <div class="col-sm-6">
                            @Html.PasswordFor(model => model.renewpassword, new { @class = "form-control", id = "txtMatKhau2" })
                        </div>
                    </div>


                        <div class="form-group has-error">
                            <label class="col-sm-3 control-label no-padding-right"></label>
                            <div class="help-block col-sm-6">

                                @if (!ViewData.ModelState.IsValid)
                                {
                                    @ViewData.ModelState["password"].Errors[0].ErrorMessage
                                }

                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-6">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Lưu
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Nhập lại
                                </button>
                            </div>
                        </div>
                }
            </div><!-- /.box-body -->
        </div>

    </div>

</section>
@section Scripts {

    <script type="text/javascript">


        $(document).ready(function () {
        //    $("#txtNhomquyen").kendoDropDownList({
        //        dataTextField: "TenQuyen",
        //        dataValueField: "MaQuyen",
        //        dataSource: {
        //            type: "json",
        //            transport: {
        //                read: {
        //                    ////dataType: "json",
        //                    url: "/Hethong/DsQuyenHan",
        //                }
        //            },
        //            schema: {
        //                data: "data",
        //                model: {
        //                    id: "MaQuyen",
        //                    fields: {
        //                        MaQuyen: { type: "string" },
        //                        TenQuyen: { type: "string" }
        //                    }
        //                }

        //            }
        //        }
        //    });

        });
    </script>

}